body {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(190, 161, 138, 0.562); /* времено */
}

/* -----------ПЕРЕМЕННЫЕ------------- */
:root {
    --background-color: #ffffff;
    --text-color-light-title: #ffffff;
    --text-color-light-text: #9da4bd;
    --text-color-nav: #ffffff;
    --text-dark-text: #555555;
    --text-dark-title: #303030;
    --text-social-link: #303030;
    --akcent: #ff6c00;
    --margin-text-bottom: 20px;
    --btn-herro-hover: #FF6C00;
}

/* ----------CSS RESET-------------- */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--text-dark-title);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* ------CONTAINER--------------- */
.container {
    outline: solid blue;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

/* ----------------НВИГАЦИЯ------------- */
.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navi-item + .navi-item {
    margin-left: 40px;
}

.header-connect {
    /* align-items: center; */
    margin-left: auto;
}

.logo {
    margin-right: 70px;
}

.navi-textlink,
.header-tell {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--text-color-nav);
}

.navi-textlink:hover,
.header-tell:focus,
.navi-textlink:focus,
.header-tell:hover,
.social-link-herro:hover,
.social-link-herro:focus,
.footer-social-link:hover,
.footer-social-link:focus {
    color: var(--akcent);
}

.header-btn {
    margin-left: 40px;
    /* padding: 20px 20px; */
    height: 40px;
    min-width: 160px;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;

    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--text-color-nav);
    background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
    background-color: var(--btn-herro-hover);
}

/* ----------------HERRO--------------------- */
.herro-container {
    display: flex;
}

.herro-right {
    background-color: rgb(39, 102, 39);
    flex-grow: 1;
    padding: 272px 0 206px 96px;
}

.youtinst-list {
    min-width: 93px;
}

.btn-herro {
    margin-left: auto;
}

.social-link-herro {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: var(--text-social-link);
}

.title-sections {
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.text-per-titles {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.herro-sup-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--text-color-light-text);
}

.herro-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: var(--text-color-light-title);
}

.herro-sub-title {
    color: var(--text-color-light-text);
}

/* .btn-back,
.btn-forward {
    margin-left: auto;
/* }  */

/* ------------------О НАС---------------- */
.about-container {
    display: flex;
}

.about-imglist {
    display: flex;
}

.about-img+.about-img {
 margin-left: 30px;
}

.about-text-right {
    padding-left: 64px;
    padding-right: 64px;
}

.about-us {
    padding-top: 138px;
    padding-bottom: 121px;
}

.about-suo-text {
    margin-bottom: var(--margin-text-bottom);

    color: var(--text-dark-text);
}

.about-title {
    margin-bottom: var(--margin-text-bottom);

    color: var(--text-dark-title);
}

.about-sub-text {
    margin-bottom: var(--margin-text-bottom);
}

.abaut-us-text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: var(--text-dark-title);
}

.about-btn {
    /*Будет переделыватся*/
    /* padding: 20px 20px; */
    height: 40px;
    min-width: 160px;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;

    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--text-dark-title);
    background-color: transparent;
}

/* -----------------ПРАЙС---------------- */
.prices {
    padding-top: 130px;
    padding-bottom: 130px;
}

.price-text {
    margin-bottom: var(--margin-text-bottom);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--text-color-light-text);
}

.price-title {
    margin-bottom: 44px;

    color: var(--text-color-light-title);
}

.price-service,
.price-num {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--text-color-light-text);
}

.price-btn {
    /*Будет переделыватся*/
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--text-color-nav);
    background-color: gray;

    border: none;
    cursor: pointer;

    padding: 20px 20px;
}

/* -------------------ПОЧЕМУ МЫ?--------------- */
.arguments {
    padding-top: 130px;
    padding-bottom: 130px;
}

.argument-num {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--text-dark-title);
}

.argument-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: var(--text-dark-title);
}

.argument-sup-text,
.masters-sup-text,
.galery-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--text-dark-title);
}

.argument-sup-text {
    margin-bottom: var(--margin-text-bottom);
}

.argument-title {
    margin-bottom: var(--margin-text-bottom);

    color: var(--text-dark-title);
}

.argument-sub-text {
    color: var(--text-dark-text);
}

/* -----------------МАСТЕРА------------ */
.masters-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
}

.master-item {
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.masters {
    padding-top: 130px;
    padding-bottom: 130px;
}

.masters-sup-text {
    margin-bottom: var(--margin-text-bottom);
}

.masters-title {
    margin-bottom: 44px;
    color: var(--text-dark-title);
}

.master-name {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--text-dark-title);
}

.master-prof {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--akcent);
}

/* ---------------------GALERRY-------------- */
.galery-text {
    margin-bottom: 44px;
}

/* .galery-container {
    background-color: chartreuse;
} */

.galery-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
}


.galery-img {
    min-width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.galery {
    padding-top: 130px;
    padding-bottom: 130px;
}

/* -------------PRE_FOOTER-------------- */
.pre-footer {
    padding-top: 130px;
    padding-bottom: 130px;
    border-color: burlywood;
}

/* -----------------FOOTER------------- */
.footer {
    padding-top: 55px;
    padding-bottom: 55px;
}

.adress-tell,
.adress-text,
.adress-mail {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--text-color-light-text);
}

.adress-mail {
    text-decoration: underline;
}

.time-work {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--text-color-light-title);
}

.day-work {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--text-color-light-text);
}

.copirate {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: var(--text-color-light-text);
}

.footer-social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    letter-spacing: 0.2em;

    color: var(--text-social-link);
}
/* -----------------Скрытый заголовок-------------- */
.galery-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
